.bird {
  z-index: 3;
  background-image: url("../../img/Bird.gif");
  background-size: cover;
  position: absolute;
}

.topObstacle {
  transform: rotate(180deg);
  position: absolute;
  background-image: url("../../img/obstacle.gif");
  background-size: cover;
  top: 0;
}

.bottomObstacle {
  position: absolute;
  background-image: url("../../img/obstacle.gif");
  background-size: cover;
  bottom: 0;
  z-index: 2;
}

.backgroundGradient {
  position: relative;
  display: flex;
  width: 100%;
  background-image: linear-gradient(to right, #00b4db, #0083b0);
}

.topSpikes {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  width: 100%;
  background-image: url("../../img/spikes.gif");
}

.bottomSpikes {
  z-index: 1;
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
  left: 0;
  background-size: contain;
  width: 100%;
  background-image: url("../../img/spikes.gif");
}
